body {
    background-color: #1d2b53;
}

h1, h2, h5 {
    color: white;
}

p {
    color: white;
}

.btn-primary {
    background-color: #17b794;
    border-color: #17b794;
}

.btn-secondary {
    background-color: #1d2b53;
    border: 2px solid white;
}

.contact{
    color: #17b794;
}

#map {
    height: 500px;
    width: 80%;
}

.img-thumbnail{
    max-height: 300px;
    align: center;
}
